body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: #fff;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #d35400;
}

.hero {
  height: 100vh;
  background: #ffefd5; /* мягкий светлый фон */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero a {
  background-color: #d35400;
  color: white;
  padding: 0.75rem 2rem;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 700;
  transition: background-color 0.3
